<div style="display: flex;">
    <div class="wrapper-30 fadeInDown">
        <table *ngIf="userDetails" class="table-fill">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">User Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td>{{ userDetails.fullName.split(' ')[0] }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ userDetails.fullName.split(' ')[1] }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ userDetails.email }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <input type="button" (click)="onLogout()" value="Logout" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="wrapper-70 fadeInDown">
        <table *ngIf="userDetails" class="table-fill-right">
            <thead>
                <tr>
                    <th class="text-center">Survey List</th>
                </tr>
            </thead>
            <tbody>
                <tr class="searchBox">
                    <input type="text" name="search" placeholder="Search...">
                </tr>
                <tr *ngFor="let surveyList of surveyListService.surveyLists">
                    <input type="hidden" name="">
                    <td (click)="onSurveyId(surveyList)">{{ surveyList.description.surveyName }} - {{ surveyList.description.lecturer }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="wrapper fadeInDown">
    <div id="surveyFormContent" *ngIf="!userDetails">
        <p>{{ surveyListService.selectedSurveyItem.description.surveyName }}</p>
        <div *ngFor="let questionList of surveyListService.selectedSurveyItem.questions">
            <label>
                    <input type="radio" name="offeredAnswerQ1" value="yes">Yes
                </label><br/>
            <label>
                    <input type="radio" name="offeredAnswerQ1" value="no">No
                </label>
        </div>
        <div class="question2">
            <p>Communication - listening, understanding; speaking clearly and directly; sharing information.</p>
            <label>
                    <input type="radio" name="offeredAnswerQ2" value="yes">Yes
                </label><br/>
            <label>
                    <input type="radio" name="offeredAnswerQ2" value="no">No
                </label>
        </div>
        <div class="question3">
            <p>Problem solving - developing creative and innovation solutions; developing pratical solutions; showing independence and identifying problems and solving them.</p>
            <label>
                    <input type="radio" name="offeredAnswerQ3" value="yes">Yes
                </label><br/>
            <label>
                    <input type="radio" name="offeredAnswerQ3" value="no">No
                </label>
        </div>
        <div class="question4">
            <p>Planning and organizing - coordinating tasks and time for self and others; taking initialtive and making decisions; collecting, analyzing and organizing information.</p>
            <label>
                    <input type="radio" name="offeredAnswerQ4" value="yes">Yes
                </label><br/>
            <label>
                    <input type="radio" name="offeredAnswerQ4" value="no">No
                </label>
        </div>
        <div class="question5">
            <p>Learning - having a range of basic IT skills; applying IT as a management tool; being willing to learn new skills.</p>
            <label>
                    <input type="radio" name="offeredAnswerQ5" value="yes">Yes
                </label><br/>
            <label>
                    <input type="radio" name="offeredAnswerQ5" value="no">No
                </label>
        </div>
    </div>
</div>